@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

html {
  height: 100%;
}

body {
  padding: 60px;
  background: linear-gradient(#141e30, #243e55);
  color: whitesmoke;
}

.carta {
  align-content: center;
  border: 1px solid gray;
  border-radius: 6px;
  margin: 0 10px 10px 0;
  overflow: hidden;
}

.carta p {
  padding: 5px;
  text-align: center;
}

.carta img {
  max-height: 170px
}

.contenedorCartas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

input {
  color: grey;
  font-size: 1.2rem;
  width: 100%;
  border-radius: 20px;
}